#edit-plot th,td {
    padding: 0.3em;
    margin: 0.2em;
    height: 50px;
}

#edit-plot #textes {
    background: url(../images/redactIntrigue/roles/lines.png) repeat;
}

#edit-plot input[type='text'],
#edit-plot input[type='number'],
#edit-plot textarea,
#edit-plot select
{
    /*font-family: 'Shadows Into Light', cursive !important;*/
    font-size: 24px !important;
    font-family: 'Gudea', sans-serif !important;
}

#edit-plot input[type='text'],
#edit-plot input[type='number'],
#edit-plot select {
    border: 0;
    outline: none;
    letter-spacing: 3px;
    background: url(../images/redactIntrigue/roles/dots.png) repeat;
    font-size: 18px;
    width: 300px;
    height: 40px;
    margin: -14px 0 0 0;
    color: #18326d;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
     box-shadow: none;
}

#edit-plot textarea {
    line-height: 1.7;
    width: 96%;
    height: 200px;
    margin: -22px 0 40px 0;
    background: url(../images/redactIntrigue/roles/dots.png) repeat;
    /*font-family: 'Shadows Into Light', cursive;*/
    font-family: 'Gudea', sans-serif;
    font-size: 18px;
    color: #18326d;
    letter-spacing: 3px;
    border: 0;
    resize: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#edit-plot label {
    cursor: default;
    font-size: 18px;
}

#edit-plot textarea:hover,
#edit-plot input[type='text']:hover,
#edit-plot input[type='number']:hover,
#edit-plot textarea:active,
#edit-plot input[type='text']:active,
#edit-plot input[type='number']:active,
#edit-plot textarea:focus,
#edit-plot input[type='text']:focus,
#edit-plot input[type='number']:focus
{
    outline:none !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

#edit-plot .modalLi {
    list-style-type: none;
}

#edit-plot [class*="span"] {
    margin-left: 0 !important;
}

#edit-plot .formRow {
    height: 48px;
    margin-top: 32px;
    margin-left: 0 !important;
}

#edit-plot .numbersField {
    width: 150px !important;
}

#edit-plot .leftUl {
    height:400pt;
    width:175pt;
    overflow-y: auto;
    overflow-x: hidden;
}

#edit-plot .leftMenuList input {
    margin-top: 6px;
    line-height: 38px;
}

#edit-plot .inputLargeWidth {
    width: 95% !important;
}

#edit-plot .search-query {
    outline: none;
    border: solid 1px grey;
}

#edit-plot h3 {
    border-bottom: none;
}

#edit-plot #roleOther,
#edit-plot #placeOther,
#edit-plot #resourceOther {
    border: solid 1px !important;
    height: 22px !important;
    font-size: 15px !important;
    margin-top: 5px !important;
    color: black !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    width: inherit !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#edit-plot .leftMenuList a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#edit-plot .span8 input {
    width: 100%;
}

.fullScreenOpen {
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/redactIntrigue/roles/lines.png) repeat;
    z-index: 99999999;
    padding: 15px;
    width: 100% !important;
    height: 100% !important;
}

.fullScreenOpen .richTextEditor {
    margin: 20px;
    height: 85% !important;
}

.richTextEditor span {
    font-family: Gudea, sans-serif;
    font-size: 20px;
    padding: 5px;
}

.richTextEditor {
    font-family: Gudea, sans-serif;
    font-size: 22px;
    line-height: 40px;
    margin-top: 5px;
    min-height: 200px;
    padding: 5px;
    overflow: auto;
    outline: none;
    margin-bottom: 10px;
    color: #18326d;

    background: url(../images/redactIntrigue/roles/dots.png) repeat;
}

.btnFullScreen {
    background: url(../images/redactIntrigue/fullScreenButton.png) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.fullScreenOpen .btnFullScreen {
    background: url(../images/redactIntrigue/reverseFullScreen.png) no-repeat;
    background-size: 100%;
}

.pastSceneRelativeTimeUnit {
    cursor: pointer;
}

#edit-plot .largeModal {
    width: 1000px;
    margin-left: -500px;
}

@font-face {
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    src: local('Shadows Into Light'), local('ShadowsIntoLight'), url("http://themes.googleusercontent.com/static/fonts/shadowsintolight/v4/clhLqOv7MXn459PTh0gXYHW1xglZCgocDnD_teV2lMU.woff") format('woff');
}
