th,td {
    padding: 0.3em;
    padding-left: 0.5em;
    margin: 0.3em;
}

.tab-pane.active {
    height: 350pt;
}

.time
{
    width: 55pt;
    margin-left: 0pt;
}

.date
{
    margin-right: 0pt;
    width: 95pt;
}

/*.evenemential-table > tbody > tr:not(:last-child):nth-child(n+6){*/     /* test pour 5 */
    /*display: none;*/
/*}*/
.evenemential-table > tbody > tr:not(:last-child):nth-child(n+2) {    /* test pour 1 */
    display: none;
}
/*.mainstream-table > tbody > tr:not(:last-child):nth-child(n+6){*/     /* test pour 5 */
/*display: none;*/
/*}*/
.mainstream-table > tbody > tr:not(:last-child):nth-child(n+2) {    /* test pour 1 */
    display: none;
}

.search-query {
    outline: none;
    border: solid 1px grey;
    text-align: left;
}

.modal-header h3 {
    border-bottom: none;
}

.modal-body li {
    list-style-type: none;
}

.modal {
    text-align: center;
}

.modal .tagWeight {
    margin-left: 5px;
    margin-right: 5px;
}

.modal .tagWeight input {
    margin-right: 0;
}

.modal .banTag,
.modal .chooseTag {
    outline: none;
}

.redBorder {
    border: 1px solid red !important;
}

.mainstreamIcon {
    height: 15px;
    width: 15px;
    padding: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 55px;
    font-size: 14px;
}

.input-append span {
    margin-left: -25px !important;
}