@CHARSET "UTF-8";

.bold {font-weight: bold;}
.cap {text-transform : capitalize;}
.upper {text-transform : uppercase;}
.lower {text-transform : lowercase;}
.scaps {font-variant: small-caps;}
.unban {float : right;}