<li data-id="000"> {{! fix id }}
    <a onclick="setCarretPos(); pasteHtmlAtCaret('<span class=&quot;label label-{{ entityLabel }}&quot; contenteditable=&quot;false&quot;>{{ entityName }}</span>'); return false;">
        {{ entityName }} {{{ flag }}}
    </a>
</li>