<li class="leftMenuList">
    <a href="#place_{{ placeId }}" data-toggle="tab">
        {{ placeName }}
    </a>
    <button data-toggle="confirmation-popout" data-placement="left" class="btn btn-danger" title=""
            data-url="/gnk/genericPlace/delete/{{ placeId }}" data-object="place"
            data-original-title="Supprimer ce lieu?" style="right: -40px;" data-id="{{ placeId }}">
        <i class="icon-remove pull-right"></i>
    </button>
</li>