<li class="leftMenuList">
    <a href="#pastScene_{{ pastsceneId }}" data-toggle="tab" class="spanLabel">
        {{ pastsceneTitle }}
    </a>
    <button data-toggle="confirmation-popout" data-placement="left" class="btn btn-danger" title=""
            data-url="/gnk/pastScene/delete/{{ pastsceneId }}" data-object="pastScene"
            data-original-title="Supprimer la scène?" style="right: -40px;" data-id="{{ pastsceneId }}">
        <i class="icon-remove pull-right"></i>
    </button>
</li>