<li class="leftMenuList">
    <a href="#resource_{{ resourceId }}" data-toggle="tab">
        {{ resourceName }}
    </a>
    <button data-toggle="confirmation-popout" data-placement="left" class="btn btn-danger" title=""
            data-url="/gnk/genericResource/delete/{{ resourceId }}" data-object="resource"
            data-original-title="Supprimer ce objet?" style="right: -40px;" data-id="{{ resourceId }}">
        <i class="icon-remove pull-right"></i>
    </button>
</li>