<li class="leftMenuList">
    <a href="#role_{{ roleId }}" data-toggle="tab">
        {{ roleName }}
    </a>
    <button data-toggle="confirmation-popout" data-placement="left" class="btn btn-danger" title=""
            data-url="/gnk/role/delete/{{ roleId }}" data-object="role"
            data-original-title="Supprimer ce rôle?" style="right: -40px;" data-id="{{ roleId }}">
        <i class="icon-remove pull-right"></i>
    </button>
</li>